In [2]:
import numpy as np
import pandas as pd

In [3]:
x1 = {'a':[1,1,1,1,1],'b':[1,1,1,1,1],'c':[1,1,1,1,1],'d':[1,1,1,1,1],'e':[1,1,1,1,1]} 
x2 = {'e':[2,2,2,2,2],'f':[2,2,2,2,2],'g':[2,2,2,2,2],'h':[2,2,2,2,2],'i':[2,2,2,2,2]}
x3 = {'a':[3,3,3,3,3],'b':[3,3,3,3,3],'c':[3,3,3,3,3],'d':[3,3,3,3,3],'e':[3,3,3,3,3]}

In [4]:
df1 = pd.DataFrame(x1, [1,2,3,4,5])
df2 = pd.DataFrame(x2, [1,2,3,4,5])
df3 = pd.DataFrame(x3, [5,6,7,8,9])

In [34]:
pd.concat([df1,df3], axis=0)

   a  b  c  d  e
1  1  1  1  1  1
2  1  1  1  1  1
3  1  1  1  1  1
4  1  1  1  1  1
5  1  1  1  1  1
5  3  3  3  3  3
6  3  3  3  3  3
7  3  3  3  3  3
8  3  3  3  3  3
9  3  3  3  3  3