In [3]:
import numpy as np
import pandas as pd

In [4]:
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]

In [5]:
df = pd.DataFrame([A,B,C,D,E], ['A','B','C','D','E'], ['W','X','Y','Z'])

In [6]:
df

   W  X  Y  Z
A  1  2  3  4
B  5  6  7  8
C  9  0  1  2
D  3  4  5  6
E  7  8  9  0

In [33]:
df.loc['A']

W    1
X    2
Y    3
Z    4
Name: A, dtype: int64

In [35]:
df.loc['D', 'Y'] #Acessa elemento do dataframe

5