In [1]:
import numpy as np
import pandas as pd

In [6]:
df1 = pd.DataFrame({'key':[1,2,3], 'a':[2,3,4], 'b':[5,6,7]})
df2 = pd.DataFrame({'key':[1,2,3], 'c':[1,2,9], 'd':[5,8,9]})

In [12]:
pd.merge(df1,df2, how = 'outer', on='key')

   key  a  b  c  d
0    1  2  5  1  5
1    2  3  6  2  8
2    3  4  7  9  9