In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline

In [14]:
df1 = sns.load_dataset('tips')
df2 = pd.read_csv('204.ece.csv')

In [16]:
x1 = np.random.rand(100, 5)
x2 = np.random.rand(10, 5)

In [34]:
df3 = pd.DataFrame(x1, columns=['a','b','c','d','e'])
df4 = pd.DataFrame(x2, columns=['w','y','x','z','k'])

In [35]:
df4

          w         y         x         z         k
0  0.535717  0.908311  0.597517  0.087486  0.449850
1  0.568614  0.738869  0.867402  0.011439  0.053664
2  0.337867  0.864985  0.297950  0.410628  0.458785
3  0.491291  0.112916  0.286856  0.753216  0.036291
4  0.278475  0.731519  0.096167  0.071178  0.186514
5  0.858650  0.603180  0.865482  0.114797  0.776464
6  0.532349  0.387570  0.823148  0.701503  0.631721
7  0.193062  0.026903  0.996595  0.853590  0.290595
8  0.114447  0.823327  0.678887  0.587307  0.527201
9  0.051590  0.126208  0.290194  0.475425  0.614853