In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {'a':[1,2,3,4,np.nan], 'b':[4,5,6,np.nan,np.nan], 'c':[7,8,9,np.nan,np.nan]}

In [3]:
dict

{'a': [1, 2, 3, 4, nan], 'b': [4, 5, 6, nan, nan], 'c': [7, 8, 9, nan, nan]}

In [4]:
df = pd.DataFrame(dict, ['A', 'B','C','D','E'])
df

     a    b    c
A  1.0  4.0  7.0
B  2.0  5.0  8.0
C  3.0  6.0  9.0
D  4.0  NaN  NaN
E  NaN  NaN  NaN

In [5]:
df.dropna(axis=1) #Retirar as colunas ou linhas que n√£o possuem valor, axis = 0(linhas) se 1 (colunas)

Empty DataFrame
Columns: []
Index: [A, B, C, D, E]

In [6]:
df['a'].fillna(value = df['a'].mean()) #Preeche os vazios com valor especificado / mean() faz a media dos valores da coluna indicada e coloca onde esta vazio

A    1.0
B    2.0
C    3.0
D    4.0
E    2.5
Name: a, dtype: float64

In [7]:
df.loc['D'].fillna(value = df.loc['D'].mean())

a    4.0
b    4.0
c    4.0
Name: D, dtype: float64