In [100]:
import numpy as np
import pandas as pd

In [101]:
x1 = {'a':[1,2,3], 'b':[4,5,6]}
y1 = {'c':[7,8,9], 'd':[3,5,8]}

In [134]:
x = pd.DataFrame(x1, ['p1','p2','p3'])
y = pd.DataFrame(y1, ['p1','p5','p6'])

In [135]:
x

    a  b
p1  1  4
p2  2  5
p3  3  6

In [136]:
y

    c  d
p1  7  3
p5  8  5
p6  9  8

In [139]:
joinTable = x.join(y, how='outer') #Join() une as tabelas left, outer, right, inner

In [140]:
joinTable

      a    b    c    d
p1  1.0  4.0  7.0  3.0
p2  2.0  5.0  NaN  NaN
p3  3.0  6.0  NaN  NaN
p5  NaN  NaN  8.0  5.0
p6  NaN  NaN  9.0  8.0