In [1]:
import numpy as np
import pandas as pd

In [41]:
df1 = pd.DataFrame({'key':[1,2,3], 'a':[4,3,2], 'b':[2,2,2]})
df2 = pd.DataFrame({'key':[1,2,3], 'c':[1,2,9], 'd':[5,8,9]})

In [42]:
pd.merge(df1,df2, how = 'outer', on='key')

   key  a  b  c  d
0    1  4  2  1  5
1    2  3  2  2  8
2    3  2  2  9  9

In [43]:
df1.sort_values('a')

   key  a  b
2    3  2  2
1    2  3  2
0    1  4  2

In [44]:
df1['b'].nunique()

1