In [16]:
import numpy as np
import pandas as pd

In [17]:
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]

In [18]:
df = pd.DataFrame([A,B,C,D,E], ['A','B','C','D','E'], ['W','X','Y','Z'])

In [19]:
df

   W  X  Y  Z
A  1  2  3  4
B  5  6  7  8
C  9  0  1  2
D  3  4  5  6
E  7  8  9  0

In [20]:
df [df> 3] #Retorna valores com a condição especificada ou pode retornar apenas uma tabela booleana se retirar os cochetes

     W    X    Y    Z
A  NaN  NaN  NaN  4.0
B  5.0  6.0  7.0  8.0
C  9.0  NaN  NaN  NaN
D  NaN  4.0  5.0  6.0
E  7.0  8.0  9.0  NaN

In [29]:
df [df['W']> 3][['W']]

   W
B  5
C  9
E  7

In [41]:
df[(df['W']>3) & (df['Z']>2)] #Acessa a linha que tem w>3 e z>3

   W  X  Y  Z
B  5  6  7  8